In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import norm
%matplotlib inline

In [3]:
matches = pd.read_csv('./naomi-osaka/data/matches.csv', encoding = "ISO-8859-1")
players = pd.read_csv('./naomi-osaka/data/players.csv', encoding = "ISO-8859-1")
qualifying_matches = pd.read_csv('./naomi-osaka/data/qualifying_matches.csv', encoding = "ISO-8859-1")
rankings = pd.read_csv('./naomi-osaka/data/rankings.csv', encoding = "ISO-8859-1")

In [4]:
matches.head()

,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,...,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year,Unnamed: 32
0,3,128,17.859001,NaN,R,NaN,200002,CRO,Mirjana Lucic,49.0,...,R,170.0,200001.0,SUI,Martina Hingis,1.0,6003.0,1,2000.0,NaN
1,3,128,27.118412,Q,R,NaN,200004,AUS,Kerry Anne Guse,133.0,...,R,167.0,200003.0,BEL,Justine Henin,63.0,510.0,NaN,2000.0,NaN
2,3,128,31.378508,NaN,R,NaN,200005,USA,Jolene Watanabe Giltz,118.0,...,R,NaN,200006.0,SVK,Karina Habsudova,53.0,574.0,NaN,2000.0,NaN
3,3,128,22.006845,NaN,R,NaN,200007,CRO,Silvija Talaja,23.0,...,R,182.0,200008.0,AUS,Alicia Molik,116.0,245.0,NaN,2000.0,NaN
4,3,128,24.821355,NaN,R,NaN,200010,ITA,Rita Grande,60.0,...,R,165.0,200009.0,THA,Tamarine Tanasugarn,72.0,439.0,NaN,2000.0,NaN